@model Din.ViewModels.StatusCodeViewModel

<div class="gif-container">
    <div class="msg-container">
        <h2>@Model.Data.StatusCode</h2>
        <h3>@Model.Data.StatusMessage</h3>
    </div>
    <img src="@Model.Data.Gif.Data.ImageOriginalUrl"/>
</div>
