@using Din.ExternalModels.ViewModels

@model StatusCodeViewModel

<div class="gif-container">
    <div class="msg-container">
        <h2>@Model.StatisCode</h2>
        <h3>@Model.StatusMessage</h3>
    </div>
    <img src="@Model.Gif.Data.ImageOriginalUrl"/>
</div>
