@{
    ViewBag.Title = "Home";
}

@section CSS
{
    <link href="~/Content/home_style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.messageCloseBtn').click(function() {
                if ($('.messageCloseBtn').data('type') == "failed") {
                    $('.failed').slideToggle();
                } else {
                    $('.success').slideToggle();
                }
            });
        });
    </script>
}

<div class="banner">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap">
                        <div class="transparentBackground">
                            <p class="form-title">
                                Sign In
                            </p>
                            <form method="post" action="@Url.Action("Login")" class="login">
                                <input type="text" placeholder="Username" name="Username"/>
                                <input type="password" placeholder="Password" name="Password"/>
                                <input type="submit" value="Sign In" class="btn btn-success btn-sm"/>
                            </form>
                        </div>
                        @{
                            if (Session["failed"] != null)
                            {
                                <div class="failed">
                                    <div class="messageCloseBtn" data-type="failed">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                    <p>@Session["failedString"]</p>
                                </div>
                            }
                            else if (Session["success"] != null)
                            {
                                <div class="success">
                                    <div class="messageCloseBtn" data-type="success">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                    <p>@Session["successString"]</p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>