#account-view-addedcontent {
    height: 90%;
}

.added-content-container {
    margin: 2% auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.added-content-card-container {
    padding: 0 17px 0 17px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    width: 100%;
    height: 85%;
}

    .added-content-card-container h2 {
        margin: 10%;
        text-align: center;
        color: #ffffff;
    }

.custom-col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.custom-col-3 {
    flex: 0 0 60%;
    max-width: 60%;
}

.added-content-card-headers {
    width: 100%;
    margin: 2% 0 0 32px;
    text-align: left;
    padding: 0 17px 0 17px;
}

    .added-content-card-headers h3 {
        font-size: 15px;
        color: #ffffff;
    }

.added-content-card {
    width: 95%;
    background: rgba(41, 57, 73, 0.5);
    text-align: left;
    margin: 10px 0 10px 30px;
    border: 1px solid #293949;
}

.content-status-notavailable {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 50, 50, 0.6);
}

.content-status-queued {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(55, 136, 206, 0.6);
}

.content-status-downloading {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 28, 0.6);
}

.content-status-done {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 215, 124, 0.6);
}

.added-content-card p {
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
}
