@using Din.ExternalModels.ViewModels

@model AccountViewModel

@{
    var os = Model.Client.OS.Family.ToLower();
    if (Model.Client.OS.Family.ToLower().Equals("ubuntu"))
    {
        os = "linux";
    }
    else if (os.Contains("mac"))
    {
        os = "apple";
    }
}

<div id="account" class="shadow p-3 mb-5 rounded partial-screen">
    <div class="left-container shadow rounded">
        <div class="user-section">
            <div class="user-picture">
                <img src="" alt=""/>
            </div>
            <div class="user-info">
                <h3>@Model.User.FirstName @Model.User.LastName</h3>
                <i class="fab fa-@Model.Client.UA.Family.ToLower()"></i>
                <i class="fab fa-@os"></i>
            </div>
        </div>
        <aside class="sidebar">
            <div id="leftside-navigation">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link">
                            <i class="fas fa-user"></i><span>Information</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-file-video"></i><span>Added Content</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-calendar-alt"></i><span>Movie Calender</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-calendar-alt"></i><span>TvShow Calender</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="data-pane shadow rounded">
        <div class="account-ajax-div"></div>
    </div>
</div>