@model Din.ExternalModels.ViewModels.AccountViewModel

<div id="account-view-tvshowcalender" style="display:none">
    <div class="row account-view-header">
        <h2>TvShow Calender</h2>
    </div>
    <div class="row account-view-container">

    </div>
</div>