@model Din.ViewModels.AccountViewModel

<div class="account-partial" id="account-view-info">
    <div class="row account-view-header">
        <h2>Information</h2>
    </div>
    <div class="row account-view-container">
        <div class="col-md-12">
            <div class="information-block col-md-6 rounded">
                <h1>Statistics</h1>
            </div>
        </div>
    </div>
</div>