@model Din.ViewModels.AccountViewModel

@{
    var os = Model.ClientInfo.OS.Family.ToLower();
    if (Model.ClientInfo.OS.Family.ToLower().Equals("ubuntu"))
    {
        os = "linux";
    }
    else if (os.Contains("mac"))
    {
        os = "apple";
    }
}

<div id="account" class="shadow p-3 mb-5 rounded partial-screen ajax-div">
    <div class="left-container shadow rounded">
        <div class="user-section">
            <div class="user-picture">
                <div class="img-wrapper" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<i class='fas fa-cloud-upload-alt' style='font-size:.5vw;margin-right:.3vw'></i><small style='font-size:.7vw'>Upload a image</small>">
                    @{
                        if (Model.Data.Account.Image != null)
                        {
                            var image = $"data:image;base64,{Convert.ToBase64String(Model.Data.Account.Image.Data)}";
                            <img src="@image" alt="" data-toggle="modal" data-target="#upload-img" />
                        }
                        else
                        {
                            <img src="" alt="" data-toggle="modal" data-target="#upload-img" />
                        }
                    }
                </div>
            </div>
            <div class="user-info">
                <h3>@Model.Data.User.FirstName @Model.Data.User.LastName</h3>
                <i class="fab fa-@Model.ClientInfo.UA.Family.ToLower()"></i>
                <i class="fab fa-@os"></i>
            </div>
        </div>
        <aside class="sidebar">
            <div id="leftside-navigation">
                <ul class="nav">
                    <li class="nav-item active" id="account-menu-btn-information">
                        <a class="nav-link">
                            <i class="fas fa-user"></i><span>Information</span>
                        </a>
                    </li>
                    <li class="nav-item" id="account-menu-btn-addedcontent">
                        <a class="nav-link">
                            <i class="fas fa-file-video"></i><span>Added Content</span>
                        </a>
                    </li>
                    <li class="nav-item" id="account-menu-btn-calendar">
                        <a class="nav-link">
                            <i class="fas fa-calendar-alt"></i><span>Release Calender</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="data-pane shadow rounded">
        @{
            await Html.RenderPartialAsync("~/Views/Account/_AccountUploadImg.cshtml");
            await Html.RenderPartialAsync("~/Views/Account/_AccountInfo.cshtml");
            await Html.RenderPartialAsync("~/Views/Account/_AccountAddedContent.cshtml");
            await Html.RenderPartialAsync("~/Views/Account/_AccountReleaseCalendar.cshtml");
        }
    </div>
</div>