 <div id="upload-img" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="uploaded-img" src="" alt=""/>
                <form class="image-upload-form">
                    <span class="alert"></span>
                    <br />
                    <div class="upload-btn-wrapper">
                        <button class="upload-btn">Browse image</button>
                        <input id="upload-input" type="file" name="image"/>
                    </div>
                    <button disabled class="upload-btn-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>