<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Din - Movies are awesome!</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", true)
    @RenderSection("ImportantScripts", false)
</head>
<body>
    @RenderBody()

    <script src="bo"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>