@{
    await Html.RenderPartialAsync("~/Views/Main/Partials/_CarouselBackground.cshtml");
}
<div class="container header">
    <div class="donate-container rounded" data-toggle="tooltip" data-placement="bottom" title="Geef die jongen een snicker">
        <i class="fas fa-money-check-alt"></i>
        <a href="https://paypal.me/danenaebers">Donate</a>
    </div>
    <div class="menu menu--closed">
        <i class="fas fa-bars menu-button"></i>
        <div class="items items--hidden">
            <a href="" class="account-btn">Account<i class="fas fa-user"></i></a>
            @if (Context.User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "Admin")">Admin Panel<i class="fas fa-terminal"></i></a>
            }
            <a href="@Url.Action("LogoutAsync", "Authentication")">Logout<i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</div>
<div class="main-page-content container">
    <div class="row">
        <div class="col-sm-4">
            <div class="app-container" data-toggle="modal" data-target="#add-movie">
                <i class="fa fa-film"></i>
                <h3>Add Movie</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="app-container" id="launch-client">
                <i class="fa fa-play-circle"></i>
                <h3>Launch Client</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="app-container" data-toggle="modal" data-target="#add-tvshow">
                <i class="fa fa-tv"></i>
                <h3>Add Tv Show</h3>
            </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("~/Views/Main/Partials/_AddMovie.cshtml");
    await Html.RenderPartialAsync("~/Views/Main/Partials/_AddTvShow.cshtml");
}
<div class="ajax-div"></div>
<div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>