@section CSS {
}

<div id="particles">
    <div class="container">
        <div class="index">
            <h1 id="title">DIN</h1>
            <br/>
            <h3 id="subtitle">Movies are awesome!</h3>
            <div class="login-form">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
                <form id="login-form">
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                    </div>
                    <div class="form-group log-status">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                    </div>
                    <span class="alert">Invalid Credentials</span>
                    <button type="submit" class="log-btn">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(window).on("load",
            function() {
                $('#particles').particleground({
                    dotColor: '#ff8d1c',
                    lineColor: '#ff8d1c',
                    parallax: true,
                    parallaxMultiplier: 20
                });

                $('#login-form').submit(function (e) {
                    e.preventDefault();
                    $('.sk-folding-cube').css('display', 'block');
                    var data = {
                        username: $('#username').val(),
                        password: $('#password').val()
                    };
                    $.ajax({
                        url: '@Url.Action("LoginAsync", "Authentication")',
                        type: 'POST',
                        data: data,
                        success: function () {
                            location.reload();
                        },
                        error: function() {
                            $('.sk-folding-cube').css('display', 'none');
                            $('.log-status').addClass('wrong-entry');
                            $('#username').val("");
                            $('#password').val("");
                            $('.alert').fadeIn(500);
                            setTimeout("$('.alert').fadeOut(1500);", 3000);
                        }
                    });
                });

                $('.form-control').keypress(function() {
                    $('.log-status').removeClass('wrong-entry');
                });
            });
    </script>
}
