<div id="particles">
    <div class="container">
        <div class="index">
            <h1 id="title">DIN</h1>
            <br />
            <h3 id="subtitle">Movies are awesome!</h3>
            <div class="login-form">
                <form id="login-form">
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                    </div>
                    <div class="form-group log-status">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                    </div>
                    <span class="alert">Invalid Credentials</span>
                    <button type="submit" class="log-btn">Log in</button>
                </form>
            </div>
        </div>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>    </div>
</div>
