@{
    //TODO fix parent anc create corresponding viewmodel
    //var gif = JsonConvert.DeserializeObject<GiphyContainer>(await MediaGeneration.GetRandomGifAsync(GiphyQuery.Logout));
}

<div class="gif-container">
    <div class="msg-container">
        <h3>smell ya later</h3>
    </div>
    <img src="" />
</div>

@section scripts {
    <script>
        window.setTimeout(function(){
            window.location.href='https://thedin.nl';
        }, 5000);
    </script>
}
