@using Din.ExternalModels.GeneratedMedia
@using Din.Service.Utils
@using Newtonsoft.Json

@{
    var gif = JsonConvert.DeserializeObject<GiphyContainer>(await MediaGeneration.GetRandomGifAsync(GiphyQuery.Logout));
}

@section CSS {
  
}

<div class="gif-container">
    <div class="msg-container">
        <h3>smell ya later</h3>
    </div>
    <img src="@gif.Data.ImageOriginalUrl" />
</div>

@section scripts {
    <script>
        window.setTimeout(function(){
            window.location.href='https://thedin.nl';
        }, 5000);
    </script>
}
