@model Din.ViewModels.MediaViewModel

<div class="gif-container">
    <div class="msg-container">
        <h3>smell ya later</h3>
    </div>
    <img src="@Model.Media.Gif.Data.ImageOriginalUrl" />
</div>

@section scripts {
    <script>
        window.setTimeout(function(){
            window.location.href='https://thedin.nl';
        }, 5000);
    </script>
}
