body { font-family: 'Open Sans', sans-serif; }

html, body {
    height: 100%;
    position: relative;
    width: 100%;
}

.background {
    background-color: #e5e5e5;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.gif {
    height: 0;
    width: 100%;
}

.gif h3 {
    color: #ffb121;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.gif-border {
    -webkit-transform: scale(1.5);
    margin-top: 10%;
    position: relative;
    text-align: center;
}

.gif-border img {
    border-radius: 15px;
    position: inherit;
}

/* CSS For mobile devices */

@media only screen and (max-width: 500px) {
    .gif-border {
        margin-left: 20%;
        margin-top: 30%;
        width: 60%;
    }

    .gif-border img { width: 100%; }
}