body {
    background-color: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    position: relative;
    width: 100%;
}

.results { margin-top: 20px; }

.results h2 {
    color: #ffb121;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: -40px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

#no-movies { color: #961212; }

.card-frame {
    margin-left: 8%;
    width: 90%;
}

.card {
    background-color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
}

div.item {
    color: #000;
    float: left;
    margin-bottom: 24px;
}

div.item p {
    line-height: 1.2em;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

div.item.card {
    background-color: #fff;
    box-sizing: border-box;
    width: 483px;
}

div.item.poster.card {
    align-items: center;
    display: flex;
    margin-bottom: 34px;
}

div.image_content { overflow: hidden; }

div.item.poster.card div.info {
    box-sizing: border-box;
    height: 278px;
    padding: 10px 16px 16px 16px;
    position: relative;
    width: 298px;
}

div.item p.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

div.media section div.info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.item span.rating {
    color: #000;
    line-height: 0;
    padding-left: 4px;
    top: 0;
}

div.item span.glyphicons {
    align-items: center;
    display: inline-flex;
}


div.item.card p.overview {
    color: #4d4d4d;
    font-size: 0.9em;
    height: 55%;
    line-height: 1.2em;
    margin-top: 30px;
    white-space: normal;
    word-wrap: break-word;
}

.item .info .flex a {
    color: black;
    font-weight: bold;
    margin-right: 10px;
    overflow: hidden;
    text-decoration: none;
}

.glyphicon-star { top: 2px !important; }

.add-button { text-align: right; }


.backButtonContainer {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
}

.backButtonContainer:hover { background-color: rgba(255, 255, 255, 0.3); }

.backButtonContainer p {
    color: #ffb121;
    font-size: 17px;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.backButtonContainer p:hover { color: #961212; }

.selected-movie { display: none !important; }

/* CSS For mobile devices */

@media only screen and (max-width: 500px) {
    .card-frame {
        margin: 0;
        width: 100%;
    }

    .results h2 { margin-top: 10%; }

    div.item.card {
        margin: 0;
        width: 100%;
    }

    .image_content { width: 50% }

    div.image_content img.poster {
        height: 275px;
        width: 100%;
    }

    div.item.poster.card div.info { width: 50%; }

    .item .info .flex .vote_avarage { display: none; }

    .item .info .flex a { font-size: 11px; }
}