/*background*/

body { font-family: 'Open Sans', sans-serif; }

html, body {
    height: 100%;
    position: relative;
    width: 100%;
}

#background-carousel {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.carousel,
.carousel-inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 0;
}

.item {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#content-wrapper {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 1 !important;
}

.well { opacity: 0.85 }

/*left menu download button*/

.leftMenu {
    color: white;
    float: left;
    list-style-type: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.leftMenu .downloadBtn {
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.leftMenu .downloadBtn a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

.leftMenu .downloadBtn a:hover {
    background-color: rgba(255, 177, 33, 0.5);
    border: 1px rgba(255, 255, 255, 0.6) solid;
    border-radius: 10px;
}

/*right menu logout*/

.rightMenu {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 30px;
}

.rightMenu a {
    color: #961212;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.rightMenu a:hover {
    background-color: rgba(229, 227, 227, 0.4);
    border-radius: 10px;
}

/*main panel*/

.mainContent {
    border-radius: 20px;
    margin-top: 10%;
   
    text-align: center;
}

.menuPanel { margin-top: 10%; }

.menuPanel .menuItem {
    -moz-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -webkit-transition: all 200ms ease-in;
    background-color: rgba(255, 255, 255, 0.4);

    border: 0.5px #000000 solid;
    border-radius: 100%;
    display: inline-block;
    height: 200px;
    margin: 20px;
    transform: scale(1);
    transition: all 200ms ease-in;
    width: 200px;
}

.menuPanel a {
    color: #000000;
    text-decoration: none;
}

.menuPanel .menuItem img {
    margin-top: calc(50% - 40px);
    width: 40px;
}

.menuPanel .menuItem p { padding-top: 10px; }

.menuPanel .menuItem:hover {
    -moz-transform: scale(1.2);

    -moz-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -webkit-transition: all 200ms ease-in;
    background-color: rgba(255, 177, 33, 0.5);
    transform: scale(1.2);
    transition: all 200ms ease-in;
    z-index: 2;
}

/*account panel*/

.accountPanel .backButton { text-decoration: none; }

.moviePanel .backButton { text-decoration: none; }

.tvshowPanel .backButton { text-decoration: none; }

.backButtonContainer {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
}

.backButtonContainer:hover { background-color: rgba(255, 255, 255, 0.3); }

.backButtonContainer p {
    color: #ffb121;
    font-size: 17px;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.backButtonContainer p:hover { color: #961212; }

.accountPanel {
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff 2px solid;
    border-radius: 15px;
}

.accountPanel h2 {
    color: #000000;
    margin-bottom: 5%;
}

.accountPanel .accountInfo {
    margin-left: 10%;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
}

.accountPanel .accountInfo .pwdButton { text-decoration: none; }

.accountPanel .accountInfo .pwdButtonContainer {
    background-color: rgba(255, 177, 33, 0.6);
    border: 1px #ffb121 solid;
    border-radius: 5px;
    height: 30px;
    margin-left: calc(50% - 150px);
    margin-top: 10px;
    width: 300px;
}

.accountPanel .accountInfo .pwdButtonContainer:hover {
    background-color: rgba(255, 177, 33, 0.9);
    border: 1px #ff8d1c solid;
}

.pwdButtonContainer p {
    color: #000000;
    padding-top: 4px;
}

.pwdChangeContainer {
    background-color: rgba(255, 255, 255, 0.9);
    border: rgba(255, 177, 33, 0.7) 2px solid;
    border-radius: 15px;
    height: 250px;
    margin-top: -30%;
    z-index: 10;
}

.pwdChangeBackButton {
    float: left;
    height: 20px;
    margin-left: 10px;
    margin-top: 20px;
    width: 20px;
}

.pwdChangeBackButton span { color: #000000; }

.pwdChangeBackButton span:hover { color: #961212; }

.pwdChangeContainer h2 { margin-bottom: 50px; }

/*passwd validator css*/

#pswd_info {
    background: #dfdfdf none repeat scroll 0 0;
    color: #fff;
    left: 250%;
    position: absolute;
    top: -200px;
    width: 300px;
    z-index: 12;
}

#pswd_info h4 {
    background: black none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
}

#pswd_info ul { list-style: outside none none; }

#pswd_info ul li { padding: 10px 45px; }

.valid {
    background: rgba(0, 0, 0, 0) url(pictures/pwdVer/check.png) no-repeat scroll 2px 6px;
    color: green;
    line-height: 21px;
    padding-left: 22px;
}

.invalid {
    background: rgba(0, 0, 0, 0) url(pictures/pwdVer/cross.png) no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    padding-left: 22px;
}

#pswd_info::before {
    background: #dfdfdf none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

#pswd_info { display: none; }

/* movie panel */

.moviePanel {
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff 2px solid;
    border-radius: 15px;
    padding-bottom: 100px;
}

.panel-header {
    color: black;
    font-weight: bold;
    margin-bottom: 10%;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.search-bar { height: 50px; }

.search-text {
    float: left;
    margin-left: 13%;
    width: 65%;
}

.search-button { float: left; }

.search-button input {
    border-radius: 6px !important;
    margin-left: 5%;
    width: 90% !important;
}

.added-movies {
    margin-top: 50px;
    overflow: hidden;
}

.added-movies a {
    -moz-transition: color 0.5s, font-size 0.5s;
    -o-transition: color 0.5s, font-size 0.5s;
    -webkit-transition: color 0.5s, font-size 0.5s;
    color: black;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    transition: color 0.5s, font-size 0.5s;
}

.added-movies a:hover {
    color: #ff8d1c;
    font-size: 20px;
}

/* CSS For mobile devices */

@media only screen and (max-width: 500px) {
    #background-carousel { display: none; }

    body {
        background: url(pictures/carousel/7.jpg);
        background-position: -600px;
    }

    .leftMenu {
        margin-left: -10%;
        margin-top: 10px;
        width: 50%;
    }

    .leftMenu li h3 { font-size: 15px; }

    .downloadBtn { display: none; }

    .rightMenu { margin-right: -2%; }

    .rightMenu a {
        font-size: 16px;
        padding: 10px;
    }

    .menuPanel .menuItem {
        height: 170px;
        width: 170px;
    }

    /* Movie Panel */
    .moviePanel { margin-top: 35%; }

    div.input-group.input-group-lg.search-text {
        height: 10px;
        margin-left: 5%;
        width: 70%;
    }

    input.form-control.movie-search { font-size: 12px; }

    div.search-button.input-group.input-group-lg input {
        font-size: 12px;
        width: initial;
    }

    .added-movies { margin-bottom: -70px; }

    .added-movies a {
        -moz-transition: 0s;
        -o-transition: 0s;
        -webkit-transition: 0s;
        font-size: 14px;
        transition: 0s;
    }

    .added-movies a:hover { font-size: 14px; }
}