/*background*/

body {
    font-family: 'Open Sans', sans-serif;
}

html,body {
    height:100%;
	width:100%;
	position:relative;
}
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}
 
#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
    opacity:0.85
}

/*left menu download button*/

.leftMenu {
    list-style-type: none;
    float: left;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.leftMenu .downloadBtn {
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.leftMenu .downloadBtn a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}

.leftMenu .downloadBtn a:hover {
    border-radius: 10px;
    background-color: rgba(255, 177, 33, 0.5);
    border: 1px rgba(255, 255 , 255, 0.6) solid;
}

/*right menu logout*/

.rightMenu {
    margin-top: 30px;
    margin-right: 10px;
    float: right;
    list-style-type: none;
}

.rightMenu a {
    text-decoration: none;
    padding: 20px;
    color: #961212;
    font-size: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.rightMenu a:hover {
    background-color: rgba(229, 227, 227, 0.4);
    border-radius: 10px;
}

/*main panel*/

.mainContent {
    margin-top: 10%;
    text-align: center;
   
    border-radius: 20px;
}

.menuPanel {
    margin-top: 10%;
}

.menuPanel .menuItem {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.5px #000000 solid;
    margin: 20px;
    border-radius: 100%;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}

.menuPanel a {
    text-decoration: none;
    color: #000000;
}

.menuPanel .menuItem img {
    width: 40px;
    margin-top: calc(50% - 40px);
}

.menuPanel .menuItem p {
    padding-top: 10px;
}

.menuPanel .menuItem:hover {
    background-color: rgba(255, 177, 33, 0.5);

    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

/*account panel*/

.accountPanel .backButton {
    text-decoration: none;
}

.moviePanel .backButton {
    text-decoration: none;
}

.tvshowPanel .backButton {
    text-decoration: none;
}

.backButtonContainer {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}

.backButtonContainer:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.backButtonContainer p {
    font-size: 17px;
    color: #ffb121;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    padding: 10px;
}
.backButtonContainer p:hover {
    color: #961212;
}

.accountPanel {
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff 2px solid;
    border-radius: 15px;
}

.accountPanel h2 {
    color: #000000;
    margin-bottom: 5%;
}

.accountPanel .accountInfo {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
}

.accountPanel .accountInfo .pwdButton {
    text-decoration: none;
}

.accountPanel .accountInfo .pwdButtonContainer {
    margin-top: 10px;
    border: 1px #ffb121 solid;
    border-radius: 5px;
    background-color: rgba(255, 177, 33, 0.6);
    width: 300px;
    height: 30px;
    margin-left: calc(50% - 150px);
}
.accountPanel .accountInfo .pwdButtonContainer:hover {
    border: 1px #ff8d1c solid;
    background-color: rgba(255, 177, 33, 0.9);
    }

.pwdButtonContainer p {
    color: #000000;
    padding-top: 4px;
}

.pwdChangeContainer {
    margin-top: -30%;
    z-index: 10;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border: rgba(255, 177, 33, 0.7) 2px solid;
    border-radius: 15px;
}

.pwdChangeBackButton {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.pwdChangeBackButton span {
    color: #000000;
}

.pwdChangeBackButton span:hover {
    color: #961212;
}

.pwdChangeContainer h2 {
    margin-bottom: 50px;
}

/*passwd validator css*/

#pswd_info {
    background: #dfdfdf none repeat scroll 0 0;
    color: #fff;
    left: 250%;
    width: 300px;
    position: absolute;
    z-index: 12;
    top: -200px;
}

#pswd_info h4 {
    background: black none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
}

#pswd_info ul {
    list-style: outside none none;
}

#pswd_info ul li {
    padding: 10px 45px;
}

.valid {
    background: rgba(0, 0, 0, 0) url(pictures/pwdVer/check.png) no-repeat scroll 2px 6px;
    color: green;
    line-height: 21px;
    padding-left: 22px;
}

.invalid {
    background: rgba(0, 0, 0, 0) url(pictures/pwdVer/cross.png) no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    padding-left: 22px;
}

#pswd_info::before {
    background: #dfdfdf none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

#pswd_info {
    display: none;
}

/* movie panel */

.moviePanel {
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff 2px solid;
    border-radius: 15px;
    padding-bottom: 100px;
}

.panel-header {
    color: black;
    font-weight: bold;
    margin-bottom: 10%;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.search-bar {
    height: 50px;
}

.search-text {
    float: left;
    width: 65%;
    margin-left: 13%;
}

.search-button {
    float: left;
}

.search-button input {
    width: 90% !important;
    margin-left: 5%;
    border-radius: 6px !important;
}

.added-movies {
    margin-top: 50px;
    overflow: hidden;
}

.added-movies a {
    line-height: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    font-size: 18px;
    -webkit-transition: color 0.5s, font-size 0.5s;
    -moz-transition: color 0.5s, font-size 0.5s;
    -o-transition: color 0.5s,font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
}

.added-movies a:hover {
    color: #ff8d1c;
    font-size: 20px;
}

/* CSS For mobile devices */
@media only screen and (max-width: 500px) {

    #background-carousel {
        display: none;
    }

    body {
        background: url(pictures/carousel/7.jpg);
        background-position: -600px;
    }

    .leftMenu {
        margin-left: -10%;
        width: 50%;
        margin-top: 10px;
    }

    .leftMenu li h3 {
        font-size: 15px;
    }

    .downloadBtn {
        display: none;
    }

    .rightMenu {
        margin-right: -2%;
    }

    .rightMenu a {
        font-size: 16px;
        padding: 10px;
    }

    .menuPanel .menuItem {
        width: 170px;
        height: 170px;
    }

    /* Movie Panel */
    .moviePanel {
        margin-top: 35%;
    }

    div.input-group.input-group-lg.search-text {
        width: 70%;
        height: 10px;
        margin-left: 5%;
    }

    input.form-control.movie-search {
        font-size: 12px;
    }

    div.search-button.input-group.input-group-lg input {
        font-size: 12px;
        width: initial;
    }

    .added-movies {
        margin-bottom: -70px;
    }

    .added-movies a {
        font-size: 14px;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
    }

    .added-movies a:hover {
        font-size: 14px;
    }
}