body {
    font-family: 'Open Sans', sans-serif;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(assets/img/slide3blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(assets/img/slide2blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(assets/img/slide1blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.rightMenu {
    margin-top: 30px;
    margin-right: 10px;
    float: right;
    list-style-type: none;
}

.rightMenu a {
    text-decoration: none;
    padding: 20px;
    color: #961212;
    font-size: 20px;
}

.rightMenu a:hover {
    background-color: rgba(229, 227, 227, 0.3);
    border-radius: 10px;
}

.mainContent {
    margin-top: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}