@section scripts
{
    <script type="text/javascript">
        var currentSlide;
        var rand;
        $(document).ready(function() {
            currentSlide = Math.floor((Math.random() * $('.item').length));
            rand = currentSlide;
            $('#myCarousel').carousel(currentSlide);
            setInterval(function(){ 
                while(rand == currentSlide){
                    rand = Math.floor((Math.random() * $('.item').length));
                }
                currentSlide = rand;
                $('#myCarousel').carousel(rand);
            },3000);
        });
    </script>
}

@{
    if (Session["PermissionLevel"].ToString() == "user" || Session["PermissionLevel"].ToString() == "admin")
    {
        <head>
            <link href="~/Content/UserPannelIndex_style.css" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        </head>

        <div id="background-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="50000">
                <div class="carousel-inner">
                    <div class="item active" style="background-image:url(/Content/pictures/carousel/1.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/2.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/3.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/4.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/5.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/7.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/8.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/9.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/10.jpg)"></div>
                    <div class="item" style="background-image:url(/Content/pictures/carousel/11.jpg)"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <ul class="rightMenu">
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Uitloggen</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 mainContent">
                    <div class="welcomeText">
                        <h2>Welkom</h2>
                        <h3>@Session["Name"]</h3>
                    </div>

                </div>
            </div>
        </div>

    }
    else
    {
        Url.Action("Index", "Home");
    }
}
