body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #e5e5e5;
}

.results {
    margin-top: 20px;
}

.results h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -40px;
}

#no-movies {
    color: #961212;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 30px;
    border: 5px solid rgba(0, 0, 0, 0.0);
    border-radius: 5px;
}

div.item {
    float: left;
    margin-bottom: 24px;
    color: #000;
}

    div.item p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        width: 100%;
        line-height: 1.2em;
    }

    div.item.card {
        width: 483px;
        background-color: #fff;
        box-sizing: border-box;
    }

    div.item.poster.card {
        margin-bottom: 34px;
        display: flex;
        align-items: center;
    }

div.image_content {
    overflow: hidden;
}

div.item.poster.card div.info {
    width: 298px;
    height: 278px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
}

div.item p.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.media section div.info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.item span.rating {
    top: 0;
    padding-left: 4px;
    color: #000;
    line-height: 0;
}

div.item span.glyphicons {
    display: inline-flex;
    align-items: center;
}


div.item.card p.overview {
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
    height: 55%;
}

.item .info .flex a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    margin-right: 10px;
}

.glyphicon-star {
    top: 2px !important;
}

.add-button {
    text-align: right;
}


.backButtonContainer {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}

    .backButtonContainer:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .backButtonContainer p {
        font-size: 17px;
        color: #ffb121;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
        padding: 10px;
    }

        .backButtonContainer p:hover {
            color: #961212;
        }

.selected-movie {
    display: none !important;
}

