body {
    font-family: 'Open Sans', sans-serif;
}

html,body {
    height:100%;
	width:100%;
	position:relative;
}
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}
 
#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
    opacity:0.85
}

.leftMenu {
    list-style-type: none;
    float: left;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.rightMenu {
    margin-top: 30px;
    margin-right: 10px;
    float: right;
    list-style-type: none;
}

.rightMenu a {
    text-decoration: none;
    padding: 20px;
    color: #961212;
    font-size: 20px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.rightMenu a:hover {
    background-color: rgba(229, 227, 227, 0.4);
    border-radius: 10px;
}

.mainContent {
    margin-top: 10%;
    text-align: center;
   
    border-radius: 20px;
}

.welcomeText h3 {
    color: white;
    text-shadow:
               -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;  
}

.menuPanel {
    margin-top: 10%;
}

.menuPanel .menuItem {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.5px #000000 solid;
    margin: 20px;
    border-radius: 100%;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}

.menuPanel a {
    text-decoration: none;
    color: #000000;
}

.menuPanel .menuItem img {
    width: 40px;
    margin-top: calc(50% - 40px);
}

.menuPanel .menuItem p {
    padding-top: 10px;
}

.menuPanel .menuItem:hover {
    background-color: rgba(255, 177, 33, 0.5);

    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.accountPanel {
    background-color: rgba(255, 255, 255, 0.5);
    border: #ffffff 2px solid;
    border-radius: 15px;
}

.accountPanel .backButton {
    text-decoration: none;
}

.moviePanel .backButton {
    text-decoration: none;
}

.tvshowPanel .backButton {
    text-decoration: none;
}

 .backButtonContainer {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}

.backButtonContainer:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.backButtonContainer p {
    font-size: 17px;
    color: #ffb121;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.accountPanel h2 {
    color: #000000;
    margin-bottom: 5%;
}

.accountPanel .accountInfo {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
}

.accountPanel .accountInfo .pwdButton {
    text-decoration: none;
}

.accountPanel .accountInfo .pwdButtonContainer {
    margin-top: 10px;
    border: 1px #ffb121 solid;
    border-radius: 5px;
    background-color: rgba(255, 177, 33, 0.6);
    width: 300px;
    height: 30px;
    margin-left: calc(50% - 150px);
}
.accountPanel .accountInfo .pwdButtonContainer:hover {
    border: 1px #ff8d1c solid;
    background-color: rgba(255, 177, 33, 0.9);
    }

.pwdButtonContainer p {
    color: #000000;
    padding-top: 4px;
}

.pwdChangeContainer {
    margin-top: -30%;
    z-index: 10;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border: rgba(255, 177, 33, 0.7) 2px solid;
    border-radius: 15px;
}