#account {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background: rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.left-container {
    width: 14%;
    height: 100%;
    background: #293949;
    float: left;
}

.user-section {
    height: 18vw;
    color: white;
}

.user-section .user-picture { height: 12vw; }

.user-section .user-picture img {
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-left: 2vw;
    border: 3px solid #ff8d1c;
}

.user-section .user-info {
    height: 4vw;
    text-align: center;
}

.user-section .user-info i { padding: 10px; }

.user-section .user-info h3 { font-size: 24px; }


.sidebar {
    background: #293949;
    border-top: #23313f 4px solid;
    z-index: 100;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 2px transparent solid;
}

.nav { display: block; }

.nav-link { padding: 18px 0 18px 25px; }

.nav .active {
    border-left: 2px solid #ff8d1c !important;
    background-color: #394f66;
}

.sidebar #leftside-navigation ul li.active ul { display: block; }

.sidebar #leftside-navigation ul li {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    font-size: 12px;
    outline: 0;
}

.sidebar #leftside-navigation ul li a:hover {
    cursor: pointer;
    color: #ff8d1c;
}

.sidebar #leftside-navigation ul li span { display: inline-block; }

.sidebar #leftside-navigation ul li i { width: 20px; }

.sidebar #leftside-navigation ul li i .fa-angle-left,
.sidebar #leftside-navigation ul li i .fa-angle-right { padding-top: 3px; }

.sidebar #leftside-navigation ul ul { display: none; }

.sidebar #leftside-navigation ul ul li {
    background: #23313f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.sidebar #leftside-navigation ul ul li {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}

.data-pane {
    float: left;
    width: 84%;
    height: 100%;
    margin-left: 2%;
    background: rgba(41, 57, 73, 0.7);
}

/* Account general CSS Rules */

.account-view-header {
    margin: 2.5% 0 0 2.5%;
    margin-left: 2.5%;
    text-align: center;
    border-bottom: 1px solid #ff8d1c;
    width: 60%;
    margin-left: 20%;
}

.account-view-header h2 {
    width: 100%;
    color: white;
}

.account-view-container {
    height: 90%;
    width: 90%;
    margin: 0 0 0 5%;
}

/* Account Information */

.information-block {
    width: 100%;
    position: relative;
    background: rgba(49, 70, 89, .6);
    margin-bottom: 5%;
    box-shadow: 10px 10px 7px rgba(41, 57, 73, 0.9);
}

.information-block .color-bar {
    position: absolute;
    top: 4%;
    left: 1%;
    width: 1%;
    height: 92%;
    background: linear-gradient(#ffc041, #ff8d1c);
    border-radius: 20px;
}

.information-block h4 {
    text-align: center;
    color: #d0d2d5;
    margin-top: 2%;
}

.information-block .information-block-item {
    width: 40%;
    float: left;
    text-align: center;
    margin-bottom: 5%;
}

.information-block .information-block-item .fas {
    font-size: 70px;
    color: #ffa82f;
}

.information-block .information-block-item p {
    margin: 0;
    color: #d0d2d5;
}

.main-information-block {
    position: relative;
    margin-left: 5%;
    width: 100%;
    background: rgba(49, 70, 89, .6);
    box-shadow: 10px 10px 7px rgba(41, 57, 73, 0.9);
}

.personal-information-btn {
    width: 10%;
    background: transparent;
    border: 1px solid rgba(6, 178, 105, .6);
    padding: 10px;
    border-radius: 4px;
    color: #d0d2d5;
    margin: auto;
    display: block;
}

.main-information-block .color-bar {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 1%;
    height: 96%;
    background: linear-gradient(#00d77c, #0b9158);
    border-radius: 20px;
}

.main-information-block .margin-spacing {
    width: 5%;
    height: 100%;
    float: left;
}

    .main-information-block .horizontal-margin {
        width: 90%;
        float: left;
        padding: 5%;
    }

    .main-information-block h3 {
        text-align: center;
        color: #d0d2d5;
        margin-top: 2%;
    }

.main-information-block .main-block-item {
    float: left;
    width: 40%;
    margin: 2% 2.5% 0 2.5%;
    text-align: center;
}

    .main-information-block .main-block-item label {
        padding: 2%;
        color: #d0d2d5;
    }

    .main-information-block .main-block-item input {
        color: #d0d2d5;
        background: transparent;
        border: none;
        border-bottom: 2px solid #06b269;
    }


/* Account AddedContent */
#account-view-addedcontent {
    height: 90%;
}

.added-content-container {
    margin: 2% auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.added-content-card-container {
    padding: 0 17px 0 17px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    width: 100%;
    height: 85%;
}

.added-content-card-container h2 {
    margin: 10%;
    text-align: center;
    color: #ffffff;
}

.custom-col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.custom-col-3 {
    flex: 0 0 60%;
    max-width: 60%;
}

.added-content-card-headers {
    width: 100%;
    margin: 2% 0 0 32px;
    text-align: left;
    padding: 0 17px 0 17px;
}

.added-content-card-headers h3 {
    font-size: 15px;
    color: #ffffff;
}

.added-content-card {
    width: 95%;
    background: rgba(41, 57, 73, 0.5);
    text-align: left;
    margin: 10px 0 10px 30px;
    border: 1px solid #293949;
}

.content-status-notavailable { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 50, 50, 0.6); }

.content-status-queued { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(55, 136, 206, 0.6); }

.content-status-downloading { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 28, 0.6); }

.content-status-done { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 215, 124, 0.6); }

.added-content-card p {
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
}