#account {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background: rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.left-container {
    width: 14%;
    height: 100%;
    background: #293949;
    float: left;
}

.user-section {
    height: 18vw;
    color: white;
}

    .user-section .user-picture {
        height: 12vw;
    }

        .user-section .user-picture img {
            height: 9vw;
            width: 9vw;
            border-radius: 50%;
            margin-top: 1vw;
            margin-left: 2vw;
            border: 3px solid #ff8d1c;
        }

    .user-section .user-info {
        height: 4vw;
        text-align: center;
    }

        .user-section .user-info i {
            padding: 10px;
        }

        .user-section .user-info h3 {
            font-size: 24px;
        }


.sidebar {
    background: #293949;
    border-top: #23313f 4px solid;
    z-index: 100;
}

    .sidebar #leftside-navigation ul,
    .sidebar #leftside-navigation ul ul {
        margin: -2px 0 0;
        padding: 0;
    }

        .sidebar #leftside-navigation ul li {
            list-style-type: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            border-left: 2px transparent solid;
        }

.nav {
    display: block;
}

.nav-link {
    padding: 18px 0 18px 25px;
}

.nav .active {
    border-left: 2px solid #ff8d1c !important;
    background-color: #394f66;
}

.sidebar #leftside-navigation ul li.active ul {
    display: block;
}

.sidebar #leftside-navigation ul li {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    font-size: 12px;
    outline: 0;
}

    .sidebar #leftside-navigation ul li a:hover {
        cursor: pointer;
        color: #ff8d1c;
    }

    .sidebar #leftside-navigation ul li span {
        display: inline-block;
    }

    .sidebar #leftside-navigation ul li i {
        width: 20px;
    }

        .sidebar #leftside-navigation ul li i .fa-angle-left,
        .sidebar #leftside-navigation ul li i .fa-angle-right {
            padding-top: 3px;
        }

.sidebar #leftside-navigation ul ul {
    display: none;
}

    .sidebar #leftside-navigation ul ul li {
        background: #23313f;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
    }

    .sidebar #leftside-navigation ul ul li {
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #aeb2b7;
    }

.data-pane {
    float: left;
    width: 84%;
    height: 100%;
    margin-left: 2%;
    background: rgba(41, 57, 73, 0.7);
}

/* Account general CSS Rules */

.account-view-header {
    margin: 2.5% 0 0 2.5%;
    margin-left: 2.5%;
    text-align: center;
    border-bottom: 1px solid #ff8d1c;
    width: 60%;
    margin-left: 20%;
}

    .account-view-header h2 {
        width: 100%;
        color: white;
    }

.account-view-container {
    height: 90%;
    width: 90%;
    margin: 0 0 0 5%;
}

/* Account Information */

.information-block {
    width: 100%;
    height: 180px;
    position: relative;
}

    .information-block:before {
        content: "\f201";
        font-family: 'Font Awesome 5 Free';
        left:-5px;
        position:absolute;
        top:0;
    }




/* Account AddedContent */

#account-view-addedcontent {
    height: 90%;
}

.added-content-container {
    margin: 2% auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.added-content-card-container {
    padding: 0 17px 0 17px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    width: 100%;
    height: 85%;
}

    .added-content-card-container h2 {
        margin: 10%;
        text-align: center;
        color: #ffffff;
    }

.custom-col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.custom-col-3 {
    flex: 0 0 60%;
    max-width: 60%;
}

.added-content-card-headers {
    width: 100%;
    margin: 2% 0 0 32px;
    text-align: left;
    padding: 0 17px 0 17px;
}

    .added-content-card-headers h3 {
        font-size: 15px;
        color: #ffffff;
    }

.added-content-card {
    width: 95%;
    background: rgba(41, 57, 73, 0.5);
    text-align: left;
    margin: 10px 0 10px 30px;
    border: 1px solid #293949;
}

.content-status-notavailable {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 50, 50, 0.6);
}

.content-status-queued {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(55, 136, 206, 0.6);
}

.content-status-downloading {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 28, 0.6);
}

.content-status-done {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 215, 124, 0.6);
}

.added-content-card p {
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
}
