 html, body {
     font-family: 'Open Sans', sans-serif;
     width: 100%;
     height: 100%;
     padding: 0;
     margin: 0;
 }
 .gif-container {
     width: 100%;
     height: 100%;
 }

 .gif-container img {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
 }

 .msg-container {
     position: absolute;
     width: 500px;
     text-align: center;
     left: calc(50% - 250px);
     top: 30%;
     z-index: 10;
 }

 .msg-container h2 {
     font-size: 200px;
     color: #ffffff;
     text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
 }
 .msg-container h3 {
     font-size: 60px;
     color: rgba(255, 141, 28, 1);
     text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
 }

@media only screen and (max-width: 500px) {
    .msg-container {
        width: 300px;
        left: calc(50% - 150px);
    }

        .msg-container h2 {
            font-size: 180px;
        }
}