html, body { height: 100%; }

.carousel {
    position: absolute;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) );
}

.carousel, .carousel-itemm, .active {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-inner { overflow: hidden; }

.carousel-item img {
    height: 100%;
    width: 100%;
    filter: opacity(70%)
}

.header { height: 1px; }

.donate-container {
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 20px;
    text-decoration: none;
}

    .donate-container:hover {
        background: rgba(0, 0, 0, 0.2);
    }

        .donate-container:hover i {
            color: #00d77c;
        }

        .donate-container:hover p {
            color: #00d77c;
            margin: 0;
            padding: 0;
        }

    .donate-container i {
        float: left;
        font-size: 20px;
        padding-right: 10px;
        margin-top: 2px;
        color: #000000;
    }

.donate-container p {
    float: left;
    text-decoration: none;
    color: #000000;
}

.menu {
    position: absolute;
    top: 2%;
    right: 2%;
    overflow: hidden;
    height: 70px;
}

.menu--open .menu-button {
    transform-origin: center;
    transform: rotate(90deg);
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
}

.menu-button:hover { color: #ff8d1c; }

.items {
    position: fixed;
    margin-top: 20px;
    right: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    transition: 0.6s margin ease-in-out;
}

    .items a {
        margin-bottom: 10%;
        text-decoration: none;
        font-size: .9vw;
        color: #212529;
    }

.items a:hover { color: #ff8d1c; }

    .items .fas {
        font-size: .9vw;
        margin-left: 10px;
    }

.items--hidden {
    margin-top: -5%;
    z-index: -100;
    opacity: 0;
}

.items--visible { z-index: 100; }

.main-page-content {
    margin-top: 20%;
    width: 100%;
}

.app-container {
    text-align: center;
    transition: 0.3s ease-in-out;
}

.app-container:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.app-container:hover .fa { color: #ff8d1c; }

.app-container:hover h3 { color: #ff8d1c; }

    .app-container .fa {
        margin-bottom: 5%;
        font-size: 4vw;
    }

    .app-container h3 {
        font-size: 1.2vw;
    }

.modal-dialog { margin-top: 15%; }

.modal-dialog .modal-content {
    background: rgba(43, 48, 59, 0.5);
    height: 220px;
}

.custom-modal-header {
    margin-top: 5%;
    border-bottom: none;
    text-align: center;
}

.custom-modal-header h3 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
    color: white;
}

.fa-times {
    font-size: 20px;
    position: fixed;
    right: 2%;
    top: 5%;
    transition: 0.2s ease-in-out;
}

.fa-times:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #681717;
}

.modal-body {
    margin-top: 5%;
    text-align: center;
}

.modal-body p { color: white; }

#modal-message {white-space: pre-line}

.modal-body #search {
    width: 100%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: white;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-body #search::-webkit-input-placeholder { color: #65737e; }

.modal-body #search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.modal-body #search::-moz-placeholder { /* Firefox 19+ */
    color: #65737e;
}

.modal-body #search:-ms-input-placeholder { color: #65737e; }

.modal-body .fa-search {
    position: absolute;
    left: 6%;
    margin-top: 3.5%;
    z-index: 1;
    color: #4f5b66;
    transition: 0.2s ease-in-out;
}

.modal-body .fa-search:hover {
    transform: scale(1.2);
    color: #ff8d1c;
}

#submit-button { display: none; }

/* Folding cube*/

.sk-folding-cube {
    top: 20vw;
    z-index: 9000;
}

@media only screen and (max-width: 500px) {
    .carousel-item {
        width: 170%;
        height: 100vh;
    }

    .fa-search {
        left: 7% !important;
        margin-top: 5% !important;
    }

    .main-page-content { margin-top: 40%; }

    .app-container { margin-bottom: 20%; }

    .app-container .fa { font-size: 50px; }

    .app-container h3 { font-size: 18px; }

    .items--hidden { margin-top: -10%; }

    .menu.menu--open .items a { font-size: 14px; }

    .menu.menu--open .items span { font-size: 14px; }

    .modal-dialog { margin-top: 50%; }

    #search-results .modal-dialog { max-width: 100% !important; }

    .card-frame { margin: 20px 0 0 0 !important; }

    .card-frame .item { width: 94% !important; }

    .card-frame .info .overview { font-size: 0.6em; }

    .card-frame .item .info .add-button button { margin-left: 0; }
}