@using Din.ExternalModels.Entities
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using UAParser

@section CSS {
    <link href="~/css/Account.css" rel="stylesheet" type="text/css"/>
}

@{
    var user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("User"));
    var client = Parser.GetDefault().Parse(Context.Session.GetString("UserAgent"));
}

<div id="account" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>@user.FirstName @user.LastName</h1>
            </div>
        </div>
    </div>
</div>