@using Din.Service.Clients.ResponseObjects

@{
    //TODO fix parent and create viewmodel, controller en service (maybe singleton)
    //var images = JsonConvert.DeserializeObject<List<UnsplashContainer>>(await MediaGeneration.GenerateBackgroundAsync
    var images = new List<UnsplashResponse>();
}

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{
            var image = images[0].FileTypes.Regular;
            images.Remove(images[0]);
            <div class="carousel-item active"><img src="@image" /></div>
            foreach (var i in images)
            {
                <div class="carousel-item"><img src="@i.FileTypes.Regular" /></div>
            }
        }
    </div>
</div>