@using Din.ExternalModels.GeneratedMedia
@using Din.Service.Utils
@using Newtonsoft.Json
@{
    var images = JsonConvert.DeserializeObject<List<UnsplashContainer>>(await MediaGeneration.GenerateBackgroundAsync());
}

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{
            var image = images[0].Urls.Regular;
            images.Remove(images[0]);
            <div class="carousel-item active"><img src="@image" /></div>
            foreach (var i in images)
            {
                <div class="carousel-item"><img src="@i.Urls.Regular" /></div>
            }
        }
    </div>
</div>