@using Din.ExternalModels.ViewModels

@model ResultViewModel

<div id="result-dialog" class="modal fade ajax-div" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="custom-modal-header">
                <i class="fas fa-times" data-dismiss="modal"></i>
                <h3 style="color: @Model.TitleColor" id="modal-title">@Model.Title</h3>
            </div>
            <div class="modal-body">
                <p id="modal-message">@Model.Message</p>
            </div>
        </div>
    </div>
</div>