@section CSS
{
    <link href="~/Content/Logout_style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta http-equiv="refresh" content="3;url=https://thedin.nl/" />
}

@{
    Random rand = new Random();
    int nmbr = rand.Next(1, 15);
    string gif = nmbr.ToString() + ".gif";
}

<div class="container">

    <div class="row">
        <div class="background">
            <div class="col-md-10 col-md-offset-1">
                <div class="gif">
                    <h3>Byeeeeeeeeeeeee</h3>
                    <div class="gif-border">
                        <img src="~/Content/pictures/logout/@gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

